---
layout: base
---
{% comment %}
<h1 class="post-title"><a href="/daily/2017/11/11/" data-flip="title">Daily Dose for 2017.11.11</a></h1>
<p>, <a href="/daily/2017/11/11/">and more>>></a>.</p><br/>
{% endcomment %}

<ul>
  <li><strong>Daily Dose: </strong>&nbsp;Covers daily book/video deals (some free); new/updated books and videos.</li>
  <li><strong>Blog Posts:</strong>&nbsp;You know, those articles normally associated with a tech blog.</li>
  <li><strong>Books/Videos:</strong>&nbsp;New book announcements or full book/video reviews.</li>
</ul>

<h1 class="post-title"><a href="/daily/2017/11/11/" data-flip="title">Daily Dose for 2017.11.11</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/11/#packt-daily"><img class="resize" alt="Mastering .NET Machine Learning" src="/assets/img/learning/packt/mastering-net-machine-learning.jpg"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/11/#apress-daily"><img class="resize" alt=".NET Development Using the Compiler API" src="/assets/img/learning/apress/net-development-using-the-compiler-api.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/11/#manning-daily-1"><img class="resize" alt="Learn Linux in a Month of Lunches" src="/assets/img/learning/manning/learn-linux-in-a-month-of-lunches-final.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/11/#manning-daily-2"><img class="resize" alt="Learn Cisco Network Administration in a Month of Lunches" src="/assets/img/learning/manning/learn-cisco-network-administration-in-a-month-of-lunches.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/11/#manning-daily-3"><img class="resize" alt="Learn System Center Configuration Manager in a Month of Lunches" src="/assets/img/learning/manning/learn-system-center-configuration-manager-in-a-month-of-lunches.png"/></a></div>

<div class="image-box"><a href="{{site.url}}/daily/2017/11/11/#new1"><img class="resize" alt="Adopting Elixir" src="/assets/img/learning/pragmatic/adopting-elixir.jpg"/></a></div>

<p>.NET Compiler Platform, .NET Framework, Accord.NET, Cisco IOS, Cisco Network Administration, DHCP, Elixir, F#, IoT, K-Nearest Neighbors, Linear Regression, Linux, Logistic Regression, Machine Learning, Math.NET, Multiple Linear Regression, Naïve Bayes Classifiers, Neural Networks, SCCM 1511, Spanning Tree Protocol, Unsupervised Learning, Virtual LAN, VLAN Trunking Protocol, Windows 10, <a href="/daily/2017/11/11/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/10/" data-flip="title">Daily Dose for 2017.11.10</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/10/#packt-daily"><img class="resize" alt="Mastering Wireshark" src="/assets/img/learning/packt/mastering-wireshark.jpg"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/10/#apress-daily"><img class="resize" alt="Beginning Ethical Hacking with Python" src="/assets/img/learning/apress/beginning-ethical-hacking-with-python.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/10/#manning-daily-1"><img class="resize" alt="Go in Practice" src="/assets/img/learning/manning/go-in-practice.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/10/#manning-daily-2"><img class="resize" alt="Get Programming with Go" src="/assets/img/learning/manning/get-programming-with-go.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/10/#manning-daily-3"><img class="resize" alt="Go Web Programming" src="/assets/img/learning/manning/go-web-programming.png"/></a></div>
<p>Dark Web, Ethical Hacking, Go, MAC Address, Microservices, Proxy Chains, Python 3, REST APIs, Tor, VPN, Wireshark, <a href="/daily/2017/11/10/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/09/" data-flip="title">Daily Dose for 2017.11.09</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/09/#packt-daily"><img class="resize" alt="Switching to Angular 2" src="/assets/img/learning/packt/switching-to-angular-2.jpg"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/09/#apress-daily"><img class="resize" alt="Jumpstart Tableau" src="/assets/img/learning/apress/jumpstart-tableau.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/09/#manning-daily-1"><img class="resize" alt="Design for the Mind" src="/assets/img/learning/manning/design-for-the-mind.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/09/#manning-daily-2"><img class="resize" alt="Usability Matters" src="/assets/img/learning/manning/usability-matters.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/09/#manning-daily-3"><img class="resize" alt="Soft Skills" src="/assets/img/learning/manning/soft-skills.png"/></a></div>
<p>Angular 2 RC4, Data Visualization, Mobile Development, Soft Skills, Tableau, UI Design, Usability, User Experience Design, User Interface Design, <a href="/daily/2017/11/09/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/08/" data-flip="title">Daily Dose for 2017.11.08</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/08/#packt-daily"><img class="resize" alt="Getting Started with Raspberry Pi Zero" src="/assets/img/learning/packt/getting-started-with-raspberry-pi-zero.jpg"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/08/#apress-daily"><img class="resize" alt="Building a SharePoint 2016 Home Lab" src="/assets/img/learning/apress/building-a-sharepoint-2016-home-lab.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/08/#manning-daily-1"><img class="resize" alt="OpenShift in Action" src="/assets/img/learning/manning/openshift-in-action-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/08/#manning-daily-2"><img class="resize" alt="CoreOS in Action" src="/assets/img/learning/manning/CoreOS-in-Action.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/08/#manning-daily-3"><img class="resize" alt="Linux in Action" src="/assets/img/learning/manning/linux-in-action-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/08/#pluralfree"><img class="resize" alt="Cybersecurity Threats: Ransomware" src="/assets/img/learning/pluralsight/cybersecurity-threats-ransomware.png"/></a></div>
<p>CoreOS, Cybersecurity, Docker, Indicators of Compromise, Linux, OpenShift, Python, Ransomware, Raspberry Pi Zero, Raspbian, SharePoint 2016, <a href="/daily/2017/11/08/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/07/" data-flip="title">Daily Dose for 2017.11.07</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/07/#packt-daily"><img class="resize" alt="Android Application Development Cookbook, Second Edition" src="/assets/img/learning/packt/android-application-development-cookbook-second-edition.jpg"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/07/#apress-daily"><img class="resize" alt="Automated Trading with R" src="/assets/img/learning/apress/automated-trading-with-r.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/07/#manning-daily-1"><img class="resize" alt="Redux in Motion" src="/assets/img/learning/manning/redux-in-motion-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/07/#manning-daily-2"><img class="resize" alt="Redux in Action" src="/assets/img/learning/manning/redux-in-action-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/07/#manning-daily-3"><img class="resize" alt="ES6 in Motion" src="/assets/img/learning/manning/es6-in-motion.png"/></a></div>
<p>Android Marshmallow, Android Studio IDE, Bollinger Bands, Embarrassingly Parallel Processes, Exhaustive Search Optimization, Geofencing, Google Cloud Messaging, Google Maps, Google Speech Recognition, JavaScript, Moving Average Convergence Divergence Oscillator, Nelder-Mead Optimization, OpenGL ES, Pattern Search Optimization, Quantmod, R, React, Redux, Simple Moving Average, Volley, Yahoo! Finance API, YQL Web Service, <a href="/daily/2017/11/07/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/" data-flip="title">Daily Dose Archives for November 2017</a></h1>

<h1 class="post-title"><a href="/daily/2017/10/" data-flip="title">Daily Dose Archives for October 2017</a></h1>

<h1 class="post-title"><a href="/daily/2017/" data-flip="title">Daily Dose Archives for 2017</a></h1>

{% for post in paginator.posts %}
  {% include post.html post=post link_title=true excerpt=true %}
{% endfor %}

{% include pagination.html %}
