---
layout: base
---
{% comment %}
<h1 class="post-title"><a href="/daily/2017/11/16/" data-flip="title">Daily Dose for 2017.11.16</a></h1>
<p>, <a href="/daily/2017/11/16/">and more>>></a>.</p><br/>
{% endcomment %}

<ul>
  <li><strong>Daily Dose: </strong>&nbsp;Covers daily book/video deals (some free); new/updated books and videos.</li>
  <li><strong>Blog Posts:</strong>&nbsp;You know, those articles normally associated with a tech blog.</li>
  <li><strong>Books/Videos:</strong>&nbsp;New book announcements or full book/video reviews.</li>
</ul>

<h1 class="post-title"><a href="/daily/2017/11/16/" data-flip="title">Daily Dose for 2017.11.16</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#packt-daily"><img class="resize" alt="Learning Python Design Patterns, Second Edition" src="/assets/img/learning/packt/learning-python-design-patterns-second-edition.jpg"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#apress-daily"><img class="resize" alt="Industry 4.0" src="/assets/img/learning/apress/industry-4-0.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#manning-daily-1"><img class="resize" alt="Reactive Web Applications" src="/assets/img/learning/manning/reactive-web-applications.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#manning-daily-2"><img class="resize" alt="Reactive Application Development" src="/assets/img/learning/manning/reactive-application-development-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#manning-daily-3"><img class="resize" alt="Akka in Action" src="/assets/img/learning/manning/akka-in-action.png"/></a></div>

<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#new1"><img class="resize" alt="Deep Learning for Search" src="/assets/img/learning/manning/deep-learning-for-search-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#new4"><img class="resize" alt="Node.js in Motion" src="/assets/img/learning/manning/node-js-in-motion-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#new5"><img class="resize" alt="The Well-Grounded Rubyist, Third Edition" src="/assets/img/learning/manning/the-well-grounded-rubyist-third-edition-meap.png"/></a></div>

<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#new2"><img class="resize" alt="iOS Development with Swift" src="/assets/img/learning/manning/ios-development-with-swift-final.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/16/#new3"><img class="resize" alt="Learn PowerShell Scripting in a Month of Lunches" src="/assets/img/learning/manning/learn-powershell-scripting-in-a-month-of-lunches-final.png"/></a></div>

<p>Actor Model, Akka, AngularJS, Apache Lucene, Big Data, Command Pattern, CQRS, Cyber-Physical Systems, Deep Learning, Deeplearning4j, Design Patterns, Docker, Domain-Driven Design, Event Sourcing, Express.js, Facade Pattern, Factory Pattern, Finite-State Machine, Functional Programming, Industry 4.0, Internet of Things, iOS 11, Java, JavaScript, Lagom, Message-Oriented Systems, Microservices, Model-View-Controller, Natural Language Processing, Neural Networks, Node.js, Object-Oriented Programming, Observer Pattern, Play, PowerShell, Proxy Pattern, Python 3, Reactive Programming, Reactive Streams, RESTful APIs, Ruby 2.5, Scala, Scatter-Gather Pattern, Singleton Pattern, State Pattern, Swift 4, Template Method Pattern, Typesafe Stack, WebSockets, Word2vec, Xcode 9, <a href="/daily/2017/11/16/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/15/" data-flip="title">Daily Dose for 2017.11.15</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/15/#packt-daily"><img class="resize" alt="Learning Predictive Analytics with Python" src="/assets/img/learning/packt/learning-predictive-analytics-with-python.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/15/#apress-daily"><img class="resize" alt="Building a Comprehensive IT Security Program" src="/assets/img/learning/apress/building-a-comprehensive-it-security-program.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/15/#manning-daily-1"><img class="resize" alt="Kafka in Action" src="/assets/img/learning/manning/kafka-in-action-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/15/#manning-daily-2"><img class="resize" alt="Kafka Streams in Action" src="/assets/img/learning/manning/kafka-streams-in-action-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/15/#manning-daily-3"><img class="resize" alt="Streaming Data" src="/assets/img/learning/manning/streaming-data-final.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/15/#pluralfree"><img class="resize" alt="Building an Enterprise Grade Distributed Online Analytics Platform" src="/assets/img/learning/pluralsight/building-an-enterprise-grade-distributed-online-analytics-platform.png"/></a></div>
<p>Apache Flink, Apache Cassandra, Apache Kafka, Apache Samza, Apache Spark, Apache Storm, Apache ZooKeeper, Data Analytics, Elasticsearch, Information Security, Predictive Analytics, Python, Streaming Data, <a href="/daily/2017/11/15/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/14/" data-flip="title">Daily Dose for 2017.11.14</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/14/#packt-daily"><img class="resize" alt="Mastering React" src="/assets/img/learning/packt/mastering-react.jpg"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/14/#apress-daily"><img class="resize" alt="Securing SQL Server" src="/assets/img/learning/apress/securing-sql-server.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/14/#manning-daily-1"><img class="resize" alt="Spring in Action, Fifth Edition" src="/assets/img/learning/manning/spring-in-action-fifth-edition.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/14/#manning-daily-2"><img class="resize" alt="Spring Microservices in Action" src="/assets/img/learning/manning/spring-microservices-in-action.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/14/#manning-daily-3"><img class="resize" alt="Camel in Action, Second Edition" src="/assets/img/learning/manning/camel-in-action-second-edition-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/14/#new1"><img class="resize" alt="Modern Vim" src="/assets/img/learning/pragmatic/modern-vim.jpg"/></a></div>
<p>Always Encrypted, Apache Camel, Data Security, Dynamic Data Masking, Enterprise Integration, Hystrix, Java, Microservices, Neovim, Netflix Eureka, OAuth2, React, Ribbon, Row Level Security, Spring Boot, Spring Cloud, Spring Cloud Sleuth, Spring Cloud Stream, Spring Framework 5.0, Spring MVC, Spring Security, Spring WebFlux, SQL Server 2016, Vim 8, Zipkin, Zuul, <a href="/daily/2017/11/14/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/13/" data-flip="title">Daily Dose for 2017.11.13</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/13/#packt-daily"><img class="resize" alt="Apple Pay Essentials" src="/assets/img/learning/packt/apple-pay-essentials.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/13/#apress-daily"><img class="resize" alt="Moving to Responsive Web Design" src="/assets/img/learning/apress/moving-to-responsive-web-design.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/13/#manning-daily-1"><img class="resize" alt="Serverless Apps with Node and Claudia.js" src="/assets/img/learning/manning/serverless-apps-with-node-and-claudia-js-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/13/#manning-daily-2"><img class="resize" alt="Node.js in Action, Second Edition" src="/assets/img/learning/manning/node-js-in-action-second-edition.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/13/#manning-daily-3"><img class="resize" alt="Amazon Web Services in Action, Second Edition" src="/assets/img/learning/manning/amazon-web-services-in-action-second-edition-meap.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/13/#new1"><img class="resize" alt="Kafka in Action" src="/assets/img/learning/manning/kafka-in-action-meap.png"/></a></div>
<p>Amazon Alexa, Apache Kafka, API Gateway, Apple Pay, AWS, AWS CLI, AWS EC2, AWS IAM, AWS Lambda, Chai, Claudia.js, Connect, DerbyJS, Electron, Express, Flatiron.js, Gulp, hapi, Hogan, iOS Development, Jade, JavaScript, Knex, Koa, Kraken, LevelDB, LoopBack, Microservices, Mocha, MongoDB, Mustache, Node.js, PostgreSQL, Redis, Responsive Web Design, RESTful API, Sails.js, Selenium, Should.js, SinonJS, Streaming Data, Vows, Web Design, Webpack, <a href="/daily/2017/11/13/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/12/" data-flip="title">Daily Dose for 2017.11.12</a></h1>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/12/#packt-daily"><img class="resize" alt="Kali Linux: Wireless Penetration Testing" src="/assets/img/learning/packt/kali-linux-wireless-penetration-testing-beginners-guide.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/12/#informit-daily"><img class="resize" alt="Learn More Python 3 the Hard Way" src="/assets/img/learning/informit/learn-more-python-3-the-hard-way.jpg"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/12/#apress-daily"><img class="resize" alt="3D Printed Science Projects" src="/assets/img/learning/apress/3d-printed-science-projects.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/12/#manning-daily-1"><img class="resize" alt="Irresistible APIs" src="/assets/img/learning/manning/irresistible-apis.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/12/#manning-daily-2"><img class="resize" alt="Aurelia in Action" src="/assets/img/learning/manning/aurelia-in-action.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/12/#manning-daily-3"><img class="resize" alt="hapi.js in Action" src="/assets/img/learning/manning/hapi-js-in-action.png"/></a></div>
<div class="image-box"><a href="{{site.url}}/daily/2017/11/12/#new1"><img class="resize" alt="Seven Databases in Seven Weeks, Second Edition" src="/assets/img/learning/pragmatic/seven-databases-in-seven-weeks-second-edition.jpg"/></a></div>
<p>3D Printing, Aurelia Framework, CORS, CouchDB, CSRF, DynamoDB, hapi.js, HBase, JavaScript, Kali Linux, MongoDB, Neo4j, Node.js, NoSQL, Penetration Testing, Postgres, Python 3.6, RADIUS, Redis, Web API, Wireless, WLAN, WPA Enterprise, WPS, <a href="/daily/2017/11/12/">and more>>></a>.</p><br/>

<h1 class="post-title"><a href="/daily/2017/11/" data-flip="title">Daily Dose Archives for November 2017</a></h1>

<h1 class="post-title"><a href="/daily/2017/10/" data-flip="title">Daily Dose Archives for October 2017</a></h1>

<h1 class="post-title"><a href="/daily/2017/" data-flip="title">Daily Dose Archives for 2017</a></h1>

{% for post in paginator.posts %}
  {% include post.html post=post link_title=true excerpt=true %}
{% endfor %}

{% include pagination.html %}
